/* REFERENCES */
/* COLORS: #82dc82, #00aaff, #603939, #5a5858, #dede9f, #3b2424*/
/* DIFFERENT SCREEN WIDTH: 991px, 768px */

/* UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-image: url("images/animalcrossingbgpink.png");
  background-size: cover;
  font-family: "Arvo", serif;
  color: black;
  text-align: center;
  line-height: 1.5;
  display: block;
}

/* NAV */

nav {
  margin: 1rem;
}

nav a {
  text-decoration: none;
  background-color: #00aaff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  color: #3b2424;
}

.active {
  background-color: #dede9f;
  color: #603939;
}

/* FONT */

h1 {
  color: #3b2424;
  text-shadow: 0.2rem 0.2rem 0.4rem #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}

h2 {
  color: #3b2424;
  text-shadow: 0.2rem 0.2rem 0.4rem #ffffff;
  font-weight: bold;
  text-align: center;
}

p,
a,
figcaption {
  color: #3b2424;
  font-weight: bolder;
  text-shadow: 0.2rem 0.2rem 0.4rem #5a5858;
}

.title {
  padding: 1rem 0;
}

/* IMAGES */

img {
  width: 12rem;
  height: 12rem;
}

figure {
  padding: 1rem;
  margin: 1rem;
  width: 20%;
  border-radius: 10px;
  display: inline-block;
}

.gallery figure {
  background: url("images/falling_leaves.png");
}

.games figure {
  background-image: url("images/animalcrossingbggreen.png");
}

/* FOOTER */

footer td {
  background-color: #82dc82;
  padding: 1rem;
  margin: 2rem;
  width: 20%;
  height: 25%;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: small;
  font-weight: bold;
}

table {
  table-layout: fixed;
}

table td {
  height: 10rem;
}

.creator {
  padding-bottom: 2rem;
}

/*MEDIA QUERIES*/

/*EXTRA SMALL DEVICES*/
@media all and (min-width: 400px) and (max-width: 600px) {
  header,
  .title {
    padding: 1rem 2rem;
  }

  h1 {
    line-height: 1;
  }
  figure {
    margin: 0.5rem;
    width: 80%;
  }

  img {
    width: 10rem;
    height: 10rem;
  }

  figcaption {
    font-size: small;
    color: #000000;
  }

  footer td {
    width: 70%;
    margin: 0.5rem 1rem;
    font-size: small;
  }
}
/*SMALL DEVICES*/
@media all and (min-width: 600px) and (max-width: 768px) {
  figure {
    margin: 0.5rem;
    width: 35%;
  }

  img {
    width: 10rem;
    height: 10rem;
  }

  figcaption {
    font-size: x-small;
    color: #000000;
  }

  footer td {
    width: 35%;
    margin: 1rem;
    font-size: x-small;
  }
}
/*MEDIUM DEVICES*/
@media all and (min-width: 768px) and (max-width: 992px) {
  figure {
    margin: 0.5rem;
    width: 33%;
  }

  img {
    width: 12rem;
    height: 12rem;
  }

  figcaption {
    font-size: small;
  }

  footer td {
    width: 33%;
    margin: 1rem;
  }
}
/*LARGE DEVICES*/
@media all and (min-width: 992px) and (max-width: 1200px) {
  img {
    width: 10rem;
    height: 10rem;
  }

  figcaption {
    font-size: small;
  }

  footer td {
    width: 30%;
    margin: 1rem;
  }
}
/*EXTRA LARGE DEVICES*/
@media all and (min-width: 1200px) {
}
